@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Colors */
$color-text: #000;
$color-background: #f8f9fa;
$color-title-outline: #fff;
$color-timeline-background: #c4c4c4;
$color-btn: #4d4d4d;

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html,
body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    font-weight: 900;
}

p {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.7rem;
}

a {
    text-decoration: none;
}
 
/* Utility Classes */
.container {
    margin: auto;
    max-width: 1350px; //Modificado respecto al tutorial
    overflow: auto;
    padding: 0 20px;
}

.large {
    font-size: 1.25rem;
}

.display-1 {
    font-size: 6rem;
}

.btn {
    display: inline-block;
    font-size: 15px;
    padding: 12px 23px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 4px; 
}

.btn-dark {
    background: $color-btn;
    border: none;
    color: $color-title-outline;

    &:hover {
        background: $color-title-outline;
        border: 1px solid $color-btn;
        color: $color-btn;
    }
}

form label {
    display: inline-block;
    margin-bottom: 6px;
    font-weight: 300;
}

form {
    .form-group {
        margin-bottom: 16px;
    }
    .form-control {
        display: block;
        width: 100%;
    }
}

/* Navbar */
.navbar-home{
    height: 10vh;
} // No lo pone como .nav-home. Ver si es usado, porque como .nav-home, se genera barras de desplazamientos

#navbar {
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;

    a {
        color: $color-text;
    }

    .logo {
        float: left;
        padding-top: 5px;

        img {
            height: 40px ;
        }
    }

    ul {
        float: right;
        font-size: 14px;
        list-style: none;

        li {
            float: left;

            a {
                display: block;
                padding: 20px;
                text-align: center;

                &:hover {
                    text-decoration: underline;
                }
            } 
            
            .current {
                text-decoration: underline;
            }
        }
        
    }
}

/* Showcase */
#showcase {
    height: 80vh;
    background: $color-background;
    padding: 150px 0;

    h1 {
        line-height: 1em;
    }

    .title-outline {
        color: $color-title-outline;
        -webkit-text-stroke: 3px $color-text;
    }
}

.showcase-row {
    display: flex;
}

.showcase-row-title {
    padding-top: 70px;
}

.showcase-row-image {
    display: block;
    margin: 0 auto;

    img {
        height: 500px;
    }
}

/* About */

#about {
    background: $color-background;
    padding: 90px 0;

    h2 {
        padding-bottom: 50px;
    }

    hr {
        width: 60%;
        margin-bottom: 30px;
    }
}

.about-row {
    display: flex;
}

.about-row-image {
    img {
        height: 500px;
        padding-right: 90px;
    }
}

/* skills */
#skills {
    padding: 90px 0;

    h2 {
        padding-bottom: 50px;
    }
}

.skills-row {
    display: flex;
    padding-bottom: 50px;
}

.skills-row-left,
.skills-row-right {
    width: 50%;
    display: flex;
}

.skills-row-left-image,
.skills-row-right-image {
    width: 50%;
    text-align: right;
    padding-right: 50px;

    img {
        height: 100px;
    }
}

/* Timeline */
#timeline {
    padding: 90px 0;
    background: $color-background;
    
    h2 {
        padding-bottom: 20px;
    }
}

.timeline-row-tag {
    width: 50%;
    text-align: right;
    padding-right: 80px;

    p {
        span {
            background: $color-timeline-background;
            color: $color-title-outline;
            padding: 12px 30px;
            border-radius: 20px;
        }
    }
}

.timeline-row {
    display: flex;
    padding-bottom: 40px;
}

/* Portfolio */
#portfolio {
    padding: 90px 0;
    background: $color-background;

    h2 {
        padding-bottom: 50px;
    }
}

.portfolio-row {
    display: flex;
}

.portfolio-row-box {
    margin: 15px;
    background: $color-title-outline;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);

    p {
        text-align: center;
        padding: 20px;
        margin-top: 0;
    }

    img {
        width: 100%;
    }
}

/* Footer */
.footer-home {
    height: 10vh;
}

#mainfooter {
    background: $color-background;
    text-align: center;
    padding: 30px;
}



// Me quedé en 23:51